div.battle-page {
    background-image: url("../../img/pokemon-background-battle-1.png");
    height: 100vh;
    background-size: 100vw 100vh;
}

div.battle-menus {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

div.battle-menu {
    width: 6%;
}

div.battle-select-pokemon {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 90%;
    color: grey;
    list-style-type: none;
    align-items: center;
    padding-right: 3%;
    margin:auto;
}



ul.user-pokemon {
    list-style: none;
    text-align: center;
}

ul.user-pokemon {
    width: 10vh;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    padding-right: 5%;
    margin: auto;
}

ul.user-pokemon li:first-child {
    padding-left: 10px;
}

ul.user-pokemon li:nth-child(2) {
    padding-left: 5px;
}

div.battle-button {
    text-align: center;
    padding-bottom: 10px;
}

div.battle-button button {
    font-size: large;
    color: #5E92DE;
    font-weight: bold;
}

div.teams {
    display: flex;
    flex-flow: row;
}

div.user-battle-team, div.ai-battle-team {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    width: 90%;
    color: grey;
    align-items:flex-start;
    margin: 1vw;
    position: relative;
}

div.ai-battle-team {
    align-items: flex-end;
    margin-right: 3vw;
}

div.user-battle-team img, div.ai-battle-team img {
    max-height: 70px;
    max-width: 70px;
}

div.selected-pokemon {
    bottom: 280px;
    position: relative;
    text-align: center;
}

div.selected-pokemon img {
    width: 300px;
    height: 300px;
    padding-right: 300px;
}

div.selected-ai-pokemon img {
    width: 200px;
    height: 200px;
}

div.selected-ai-pokemon {
    bottom: 850px;
    left: 225px;
    position: relative;
    text-align: center;
}