body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  height: 100%;
  width: 100%;
}


body {
  font-size: 20px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
}
h1 {
  font-size: 40px;
}


.logo img{

  width: 100%;
  
  vertical-align: middle; 
}